.social-icons-wrapper {
  margin-top: 1.5rem;
  text-align: center;
  background-color: #0a0909e4;
  color: #140303;
}

.social-icons-wrapper h3 {
  font-weight: 600;
  color: #1d1e1de4;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  color: #cccccc;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--primary);
  cursor: pointer;
}
